<div class="page-header">
  <h3>Here is already the weather forecast for your current location</h3>
</div>

<h2 class="text-center" ng-if="loadingForCurrentLocation">Loading...</h2>

<weather-forecast location-name="{{ weatherForecastForCurrentLocation.name }}" weather="weatherForecastForCurrentLocation" weather-summer="weatherSummery(temp)"></weather-forecast>

<div class="alert alert-danger" role="alert" ng-if="isErrorForCurrentLocation">
  <strong>{{ errorMessageForCurrentLocation }}</strong>
</div>
