<div class="container">

  <div class="page-header">
    <h1>About The Technologies We Were Using</h1>
  </div>

  <div class="list-group">
    <a href="https://angularjs.org/" target="_blank" class="list-group-item"><strong>AngularJS 1</strong></a>
    <a href="https://github.com/angular-ui/ui-router" target="_blank" class="list-group-item"><strong>AngularUI Router</strong></a>
    <a href="https://ipinfo.io/" target="_blank" class="list-group-item"><strong>ipinfo</strong></a>
    <a href="http://openweathermap.org/" target="_blank" class="list-group-item"><strong>OpenWeatherMap</strong></a>
  </div>

  <current-weather-forecast></current-weather-forecast>


</div>
