<div class="container">

  <div class="page-header">
    <h1>About The Technologies We Were Using</h1>
  </div>

  <div class="list-group">
    <a href="https://angularjs.org/" target="_blank" class="list-group-item"><strong>AngularJS 1</strong></a>
    <a href="https://github.com/angular-ui/ui-router" target="_blank" class="list-group-item"><strong>AngularUI Router</strong></a>
    <a href="https://ipinfo.io/" target="_blank" class="list-group-item"><strong>ipinfo</strong></a>
    <a href="http://openweathermap.org/" target="_blank" class="list-group-item"><strong>OpenWeatherMap</strong></a>
  </div>

  <div class="page-header">
    <h3>And here is again the weather forecast for your current location</h3>
  </div>

  <!-- Loading message for current location -->
  <h2 class="text-center" ng-if="loadingForCurrentLocation">Loading...</h2>

  <!-- Weather forecast for current location -->
  <weather-forecast location-name="{{ weatherForecastForCurrentLocation.name }}" weather="weatherForecastForCurrentLocation" weather-summery="weatherSummery(temp)" ng-if="isWeatherForCurrentLocation"></weather-forecast>

  <!--  **
        * 2.Step
        * - Create a custom directive called current-weather-forecast
        * - The custom directive should contain the loading message
        * - The custom directive should contain the error message
        * - The custom directive should use the custom
        *   directive weather-forecast form step 1
        * - The custom directive shoud not take any attributes
        * - Use the custom directive instead of the markup below
  * -->

  <!-- Error message for current location -->
  <div class="alert alert-danger" role="alert" ng-if="isErrorForCurrentLocation">
    <strong>{{ errorMessageForCurrentLocation }}</strong>
  </div>

</div>
