<div class="container">

  <div class="jumbotron">
    <h1>Hello Globetrotter!</h1>
    <p>This is a simple AngularJS 1 application. We are using the OpenWeatherMap API to fetch weather information. With our app you get the current weather for your current location. You can also get the current weather for every city by using our search functionality!</p>
    <p><a class="btn btn-primary btn-lg" ui-sref="weather" role="button">Check it out</a></p>
  </div>

  <div class="page-header">
    <h3>Here is already the weather forecast for your current location</h3>
  </div>

  <!-- Loading message for current location -->
  <h2 class="text-center" ng-if="loadingForCurrentLocation">Loading...</h2>

  <weather-forecast location-name="{{ weatherForecastForCurrentLocation.name }}" weather="weatherForecastForCurrentLocation" weather-summer="weatherSummery(temp)"></weather-forecast>


  <!--  **
        * 2.Step
        * - Create a custom directive called current-weather-forecast
        * - The custom directive should contain the loading message
        * - The custom directive should contain the error message
        * - The custom directive should use the custom
        *   directive weather-forecast form step 1
        * - The custom directive shoud not take any attributes
        * - Use the custom directive instead of the markup below
  * -->

  <!-- Error message for current location -->
  <div class="alert alert-danger" role="alert" ng-if="isErrorForCurrentLocation">
    <strong>{{ errorMessageForCurrentLocation }}</strong>
  </div>

</div>
