<div class="container">

  <div class="jumbotron">
    <h1>Hello Globetrotter!</h1>
    <p>This is a simple AngularJS 1 application. We are using the OpenWeatherMap API to fetch weather information. With our app you get the current weather for your current location. You can also get the current weather for every city by using our search functionality!</p>
    <p><a class="btn btn-primary btn-lg" ui-sref="weather" role="button">Check it out</a></p>
  </div>

  <!-- Weather forecast for current location -->
  <current-weather-forecast></current-weather-forecast>

</div>
