<div class="container">

  <div class="page-header">
    <h1>Search Weather By City</h1>
  </div>

  <!-- Error message for any location -->
  <div class="alert alert-danger" role="alert" ng-if="isErrorForAnyLocation">
    <strong>{{ errorMessageForAnyLocation }}</strong>
  </div>

  <!-- Form for searching by city -->
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Type in a city..." ng-model="location">
    <span class="input-group-btn">
      <button type="button" class="btn btn-warning" ng-click="getWeatherForAnyLocation()">Get Weather</button>
    </span>
  </div>

  <!-- Heading for weather forecast for any location -->
  <div class="page-header" ng-if="isWeatherForAnyLocation">
    <h3>Here is your weather forecast</h3>
  </div>

  <!-- Loading message for any location -->
  <h2 class="text-center" ng-if="loadingForAnyLocation">Loading...</h2>


  <weather-forecast location-name="{{ weatherForecastForAnyLocation.name }}" weather="weatherForecastForAnyLocation" weather-summer="weatherSummery(temp)" ng-if="isWeatherForAnyLocation"></weather-forecast>

  <current-weather-forecast></current-weather-forecast>

</div>
